<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Runtime:</b>
  <%= @song.runtime %>
</p>

<p>
  <b>Album:</b>
  <%= @song.album_id %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
